<a href="https://colab.research.google.com/github/sardar-ammad-143/Basic-Python/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** for Loops**

In [8]:
for i in range(5):
    print("hello ")

hello
hello
hello
hello
hello

In [9]:
number_list =['ali', 'ammad', 'sardar' , 'malik', 'muneeb']

for number in number_list:
    print(number)

ali
ammad
sardar
malik
muneeb

In [10]:
number_list=[10,20,30,40,50,60,70]
total_sum = 0
list_length = len(number_list)
for num in number_list :
    total_sum = total_sum + num
    print(total_sum)

Average_sum = total_sum/list_length
print("Average :" , Average_sum)

10
30
60
100
150
210
280
Average : 40.0

In [11]:
stri ="ammadkhansardar"
for character in stri :
    print(character)

a
m
m
a
d
k
h
a
n
s
a
r
d
a
r

In [12]:
list3=[10 ,20 ,3 ,40 ,50 ,60 ,70 ,80 ,80 ,90 ]
for i in range(len(list3)):
    print(i, list3[i])

0 10
1 20
2 3
3 40
4 50
5 60
6 70
7 80
8 80
9 90

In [13]:
#we can use keys and values to get values and keys in output from dictionary
#  dic4={ "apple": "fav fruit",
#        "applep": "Fav company",
#         "window": "fav operating system",
#         "year ": 2024 }
# Example dictionary
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York",
    "profession": "Engineer"
}
print("keys:")
for key in person.keys():
    print(key)
# Print all keys in the dictionary
print("Values:")
for value in person.values():
    print(value)

keys:
name
age
city
profession
Values:
Alice
30
New York
Engineer

In [ ]:
#print tabel using range function
s=int(input("enter table you can print "))
for i in range(1, 11):
    print(s,"*",i,"  =","    ",s*i)

enter table you can print 9
9 * 1   =      9
9 * 2   =      18
9 * 3   =      27
9 * 4   =      36
9 * 5   =      45
9 * 6   =      54
9 * 7   =      63
9 * 8   =      72
9 * 9   =      81
9 * 10   =      90

**While Loop**

In [7]:
cr_no = -10
while cr_no < 5:
    print(cr_no)
    cr_no = cr_no + 1

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4

In [17]:
last_no = 10
total_sum = 0
f_no =1
start_no=f_no
while start_no <= last_no:
    total_sum = total_sum + start_no
    start_no = start_no + 1
print("Total sum " , total_sum)

Total sum  55

**Decresing orders**

In [19]:
w=int(input("please enter input value "))
while w >= 0:
    print("Value of a is :" , w)
    w = w-2

print("loop is completed ")

please enter input value 10
Value of a is : 10
Value of a is : 8
Value of a is : 6
Value of a is : 4
Value of a is : 2
Value of a is : 0
loop is completed

In [ ]:
check =int(input("Enter number you can check :"))
check_no=check
diviser_no =int(input("Enter Diviser number you can divide :"))
limit_no = int(input("Enter minimum no that you can not cross limit "))
count =0
while limit_no <= check_no :
    check_no = check_no/diviser_no
    count=count + 1

print("you enterd number divide ", count ,"Times")

Enter number you can check :80
Enter Diviser number you can divide :8
Enter minimum no that you can not cross limit 0