<a href="https://colab.research.google.com/github/sardar-ammad-143/Basic-Python/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# saving and printing the students marks for calculating total marks
num_student =25
print(num_student)

25

In [ ]:
total_sale =30.5454
print(total_sale)

30.5454

In [ ]:
student_name ="A"
print("hello word ")

hello word

**Data Type : Numeric**


1.   int = 12
2.   float= 34.65
3.   complex = 1 + 3k

**Data Type : String **


*   str : "The future of AI"

In [ ]:
#synatax error color
2nd_student = "alice"
#reserve word color
if =10

SyntaxError: invalid decimal literal (<ipython-input-13-49ddf68b3e92>, line 2)

**Lecture 2 **


1.   Python String
2.   Python List
3.   Python Tuple
4.   Python Sets
5.   Arithmetic Operator
6.   Logical Operator


**String Python**

In [ ]:
print("I'm Ammad   Idrees ")
print('hello Ammad ')

I'm Ammad   Idrees
hello Ammad

In [ ]:
a="how are you "
print(a)

how are you

In [ ]:
#paragraph string
print("""Free API Trials:
Many AI service providers offer free trials or limited access to their APIs. Take advantage of these to test your prompts without incurring costs.
Local Execution:
Running models locally on your own hardware can be a cost-effective way to experiment with AI prompts. While this might require some technical setup, it can be a good option for ongoing usage.

""")
a="""Free API Trials:
Many AI service providers offer free trials or limited access to their APIs. Take advantage of these to test your prompts without incurring costs.
Local Execution:
Running models locally on your own hardware can be a cost-effective way to experiment with AI prompts. While this might require some technical setup, it can be a good option for ongoing usage.

"""
print(a)

# upper case
print(a.upper())

#lower case
print(a.lower())

# remove blankspaces first and last
b="     Hello  word     ;;      "

Free API Trials:
Many AI service providers offer free trials or limited access to their APIs. Take advantage of these to test your prompts without incurring costs.
Local Execution:
Running models locally on your own hardware can be a cost-effective way to experiment with AI prompts. While this might require some technical setup, it can be a good option for ongoing usage.


Free API Trials:
Many AI service providers offer free trials or limited access to their APIs. Take advantage of these to test your prompts without incurring costs.
Local Execution:
Running models locally on your own hardware can be a cost-effective way to experiment with AI prompts. While this might require some technical setup, it can be a good option for ongoing usage.


FREE API TRIALS:
MANY AI SERVICE PROVIDERS OFFER FREE TRIALS OR LIMITED ACCESS TO THEIR APIS. TAKE ADVANTAGE OF THESE TO TEST YOUR PROMPTS WITHOUT INCURRING COSTS.
LOCAL EXECUTION:
RUNNING MODELS LOCALLY ON YOUR OWN HARDWARE CAN BE A COST-EFFECTIVE WAY TO EXPERIMENT WITH AI PROMPTS. WHILE THIS MIGHT REQUIRE SOME TECHNICAL SETUP, IT CAN BE A GOOD OPTION FOR ONGOING USAGE.


free api trials:
many ai service providers offer free trials or limited access to their apis. take advantage of these to test your prompts without incurring costs.
local execution:
running models locally on your own hardware can be a cost-effective way to experiment with ai prompts. while this might require some technical setup, it can be a good option for ongoing usage.


Hello  word     ;;
free of cost API Trials:
Many AI service providers offer free trials or limited access to their APIs. Take advantage of these to test your prompts without incurring costs.
Local Execution:
Running models locally on your own hardware can be a cost-effective way to experiment with AI prompts. While this might require some technical setup, it can be a good option for ongoing usage.

In [ ]:
#replace word to other word
#split on base of ,
b= " hello, world "
print(b.replace("hello" , "hi" ))

print(b.split(" , "))

 hi, world
[' hello, world ']

In [ ]:
b="manyai service providers offer free trials or limited "

#first Five character in string
first_five = b[:5]
print("first five character in string :" , first_five)

#print last five character in string
last_five =b[-5:]
print("last five chareacter in string :", last_five)

#replace string
replac = b.replace( "manyai" , "hello ")
print(replac)

#Find and count substring
sub = b.count("s")
print("Count of o :",sub)
#find first occurance
facc = b.find("n")
print( "first occurance of the character n :",facc)
faccw =b.find("offer")
print("first occurance of the word offer :" , faccw)
#reversed string
rstr = b[::-1]
print("reversed string :" , rstr)

first five character in string : manya
last five chareacter in string : ited
hello  service providers offer free trials or limited
Count of o : 3
first occurance of the character n : 2
first occurance of the word offer : 25
reversed string :  detimil ro slairt eerf reffo sredivorp ecivres iaynam

In [ ]:
#Check Palindrome
b="manyai service providers offer free trials or limited "
palandro = b == b[::-1]
print(palandro)

b="repaper"
palandr = b==b[::-1]
print(palandr)

False
True

In [ ]:
#split strng
s="manyai service providers offer free trials or limited "
spli=s.split()
print(spli)

#Join the spit values. hyphen use for our choice you can also use to space etc
join_string = "__".join(spli)
print(join_string)

['manyai', 'service', 'providers', 'offer', 'free', 'trials', 'or', 'limited']
manyai__service__providers__offer__free__trials__or__limited

In [ ]:
#remove Whitespace
Whitespace_string = "         !service !providers ! of!fer free! trials or ! limited!"
print(Whitespace_string)
trimed_string = Whitespace_string.strip()
print(trimed_string)
#remove selected character from first and last
trimed_string = Whitespace_string.strip("!")
print(trimed_string)

         !service !providers ! of!fer free! trials or ! limited!
!service !providers ! of!fer free! trials or ! limited!
         !service !providers ! of!fer free! trials or ! limited

In [ ]:
f = "!service !providers ! of!fer free! trials or ! limited!"
frequency = {}
for char in f:
    if char in frequency:
       frequency[char] +=1
    else:
        frequency[char] =1

print(frequency)

frequency = {}
for char in f:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print("Character Frequency:", frequency)

{'!': 7, 's': 3, 'e': 7, 'r': 7, 'v': 2, 'i': 5, 'c': 1, ' ': 8, 'p': 1, 'o': 3, 'd': 2, 'f': 3, 't': 2, 'a': 1, 'l': 2, 'm': 1}
Character Frequency: {'!': 7, 's': 3, 'e': 7, 'r': 7, 'v': 2, 'i': 5, 'c': 1, ' ': 8, 'p': 1, 'o': 3, 'd': 2, 'f': 3, 't': 2, 'a': 1, 'l': 2, 'm': 1}

**LIST Create **
**list length **

In [ ]:
list1 = ["apple" , "banana" , "orange" ]
print(list1)
#print list1 length
print(len(list1))
list2= [1,2,3,4,5,6,7,87]
list3=[True , False ,True ,False]
list4=[112,"apple", True, 232]
print(list2)
print(list3)
print(list4)

#Accessing the element
print(list1[0])
print(list2[3])

['apple', 'banana', 'orange']
3
[1, 2, 3, 4, 5, 6, 7, 87]
[True, False, True, False]
[112, 'apple', True, 232]
apple
4
False

**Operators **

In [ ]:
# assignment operator use to assign the value of operators
a= 2000
b=499
# == value check the value of a is equal to the value of b this operators check the equalence
c= a==b
print("a is equal to b ?" , c)

#check comparison of the two variables
c= a!=b
print("a is not equal to b ?", c)

c= a>b
print("is a graterthen b", c)

c=a<b
print("is a is lessthen b " , c)

c=a>=b
print("check a is graterthen or equal to b " , c)
c=a<=b
print("check a is lessthen or equal to b ", c)

a is equal to b ? False
a is not equal to b ? True
is a graterthen b True
is a is lessthen b  False
check a is graterthen or equal to b  True
check a is lessthen or equal to b  False

In [ ]:
a=40
b=50

c= a==b and b>=a
print("check and operator that mean dule condation are true so and operators are true " ,c)

c= a==b or a<=b
print("check or operators " ,c)

not(a==b or a<=b)

check and operator that mean dule condation are true so and operators are true  False
check or operators  True

False

**Membership Operators **



1.   in
2.   Not in

In [ ]:
#if we need to check the string are available in list or not we can use this operators
list2 = ['ali ', 'ammad' ,'muneeb' ,'saqlain' , 'adnan']
'ammad'in list2

True

In [ ]:
# if we have a list in lowercase and user can enter value upper case or other case so we can convert other case to owercase
list2 = ['ali ', 'ammad' ,'muneeb' ,'saqlain' , 'adnan']
s= input("Enter your ID card Name ")
s.lower() in list2
#we can't use the lower() function to the list this function is a string function

Enter your ID card Name AMMAd

True

**Create list to get user value without loop**

In [ ]:
# Ask the user to input items separated by spaces (or commas)
user_input = input("Enter items separated by spaces: ")

# Split the input string into a list
user_list = user_input.split()
lowcase = list(map(str.lower , user_list))

# Display the final list
print("Your list:", lowcase)

Enter items separated by spaces:  Ammad AlI MAlik SarDAR FAiq Mirza
Your list: ['ammad', 'ali', 'malik', 'sardar', 'faiq', 'mirza']

In [10]:
list2 = ['ali ', 'ammad' ,'muneeb' ,'saqlain' , 'adnan']
s="AmAd"
s.lower() not in list2
list2.sort()
print("sorted list :" , list2)

sorted list : ['adnan', 'ali ', 'ammad', 'muneeb', 'saqlain']

In [ ]:
# def add_name_to_list(name_list):
#     # Prompt user to enter a name or press Enter to stop
#     name = input("Enter a name (or press Enter to finish): ")

#     if name:  # If the user entered a name
#         name_list.append(name)
#         # Recursively call the function to add the next name
#         add_name_to_list(name_list)

# # Initialize an empty list
# names = []

# # Start the process
# add_name_to_list(names)

# # Display the final list
# print("Your list of names:", names)

def add_name_to_list(name_list):
    # Prompt user to enter a name or press Enter to stop
    name = input("Enter a name (or press Enter to finish): ")

    if name:  # If the user entered a name
        name_list.append(name.lower())
        print("Current list of names:", name_list)  # Display the current list
        # Recursively call the function to add the next name
        add_name_to_list(name_list)
    else:
        print("Final list of names:", name_list)  # Display the final list

# Initialize an empty list
names = []

# Start the process
add_name_to_list(names)

In [1]:
def add_name_to_list(name_list):
    # Prompt user to enter a name or press Enter to stop
    name = input("Enter a name (or press Enter to finish): ")

    if name:  # If the user entered a name
        name_list.append(name.lower())
        print("Current list of names:", name_list)  # Display the current list
        # Recursively call the function to add the next name
        add_name_to_list(name_list)
    else:
        print("Final list of names:", name_list)  # Display the final list

def search_name_in_list(name_list):
    search_query = input("Enter a name to search: ").lower()  # Convert search input to lowercase
    if search_query in name_list:
        print(f"'{search_query}' found in the list!")
    else:
        print(f"'{search_query}' not found in the list.")

# Initialize an empty list
names = []

# Start the process
add_name_to_list(names)

# Search for a name in the list
search_name_in_list(names)

Enter a name (or press Enter to finish): ALi
Current list of names: ['ali']
Enter a name (or press Enter to finish): Ammad
Current list of names: ['ali', 'ammad']
Enter a name (or press Enter to finish):
Final list of names: ['ali', 'ammad']
Enter a name to search: AMMAd
'ammad' found in the list!

In [ ]:
list2 = ['ali ', 'ammad' ,'muneeb' ,'saqlain' , 'adnan']
s="AmmAd"
s.lower() not in list2

**Assignment**
Assignment list items convert in to lowercase or uppercase withour use loop

**task 2**
Get random alphabet and apply operators and guess output

In [ ]:
#adding two string   concatenate a string
s = "hello"+' '+"world"
print(s)

hello world

In [ ]:
# if we can multiply the string
s= "ha"
d= s*7+ "!"
print(d)
#repeat string 7 times

hahahahahahaha!

In [ ]:

"ali"> "ammad"

In [ ]:
my_list = ['apple', 'banana', 'cherry']

# Convert all elements to uppercase using map()
uppercase_list = list(map(str.upper, my_list))

print(uppercase_list)
# Output: ['APPLE', 'BANANA', 'CHERRY']

['APPLE', 'BANANA', 'CHERRY']

Condations
if condation statement write after 4 spaces so you can use tab button so we can cet the tab button on 4 spaces
if you can tab and spaces are mixed write so maximum chances to get errors




1.   1st concept if and else
2.   2nd concept if elif  else

In [ ]:
user_input= input("please Enter Number ")
if int(user_input)==0:
    print(user_input,"Number is Null ")
elif int(user_input)>0:
    print(user_input, "Number is positive ")
elif int(user_input)<0:
    print(user_input, "Number is Negative ")

**LOOPS**

In [6]:
for i in range(5):
    print("hello ")

hello
hello
hello
hello
hello

In [12]:
number_list =['ali', 'ammad', 'sardar' , 'malik', 'muneeb']

for number in number_list:
    print(number)

ali
ammad
sardar
malik
muneeb

In [15]:
number_list=[10,20,30,40,50,60,70]
total_sum = 0
list_length = len(number_list)
for num in number_list :
    total_sum = total_sum + num
    print(total_sum)

Average_sum = total_sum/list_length
print("Average :" , Average_sum)

10
30
60
100
150
210
280
Average : 40.0

In [17]:
stri ="ammadkhansardar"
for character in stri :
    print(character)

a
m
m
a
d
k
h
a
n
s
a
r
d
a
r

In [24]:
#print tabel using range function
s=int(input("enter table you can print "))
for i in range(1, 11):
    print(s,"*",i,"=","    ",s*i)

enter table you can print 7
7 * 1 =      7
7 * 2 =      14
7 * 3 =      21
7 * 4 =      28
7 * 5 =      35
7 * 6 =      42
7 * 7 =      49
7 * 8 =      56
7 * 9 =      63
7 * 10 =      70

In [30]:
list3=[10 ,20 ,3 ,40 ,50 ,60 ,70 ,80 ,80 ,90 ]
for i in range(len(list3)):
    print(i, list3[i])

0 10
1 20
2 3
3 40
4 50
5 60
6 70
7 80
8 80
9 90

In [ ]:
#we can use keys and values to get values and keys in output
list4=["apple":"fav fruit", "applep":"Fav company", "window":"fav operating system", "year ": 2024]
for value in list4.values():
    print(value)