<a href="https://colab.research.google.com/github/sardar-ammad-143/Basic-Python/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# saving and printing the students marks for calculating total marks
num_student =25
print(num_student)

25

In [ ]:
total_sale =30.5454
print(total_sale)

30.5454

In [ ]:
student_name ="A"
print("hello word ")

hello word

**Data Type : Numeric**


1.   int = 12
2.   float= 34.65
3.   complex = 1 + 3k

**Data Type : String **


*   str : "The future of AI"

In [ ]:
#synatax error color
2nd_student = "alice"
#reserve word color
if =10

SyntaxError: invalid decimal literal (<ipython-input-13-49ddf68b3e92>, line 2)

**Lecture 2 **


1.   Python String
2.   Python List
3.   Python Tuple
4.   Python Sets
5.   Arithmetic Operator
6.   Logical Operator


**String Python**

In [ ]:
print("I'm Ammad   Idrees ")
print('hello Ammad ')

I'm Ammad   Idrees
hello Ammad

In [ ]:
a="how are you "
print(a)

how are you

In [ ]:
#paragraph string
print("""Free API Trials:
Many AI service providers offer free trials or limited access to their APIs. Take advantage of these to test your prompts without incurring costs.
Local Execution:
Running models locally on your own hardware can be a cost-effective way to experiment with AI prompts. While this might require some technical setup, it can be a good option for ongoing usage.

""")
a="""Free API Trials:
Many AI service providers offer free trials or limited access to their APIs. Take advantage of these to test your prompts without incurring costs.
Local Execution:
Running models locally on your own hardware can be a cost-effective way to experiment with AI prompts. While this might require some technical setup, it can be a good option for ongoing usage.

"""
print(a)

# upper case
print(a.upper())

#lower case
print(a.lower())

# remove blankspaces first and last
b="     Hello  word     ;;      "

Free API Trials:
Many AI service providers offer free trials or limited access to their APIs. Take advantage of these to test your prompts without incurring costs.
Local Execution:
Running models locally on your own hardware can be a cost-effective way to experiment with AI prompts. While this might require some technical setup, it can be a good option for ongoing usage.


Free API Trials:
Many AI service providers offer free trials or limited access to their APIs. Take advantage of these to test your prompts without incurring costs.
Local Execution:
Running models locally on your own hardware can be a cost-effective way to experiment with AI prompts. While this might require some technical setup, it can be a good option for ongoing usage.


FREE API TRIALS:
MANY AI SERVICE PROVIDERS OFFER FREE TRIALS OR LIMITED ACCESS TO THEIR APIS. TAKE ADVANTAGE OF THESE TO TEST YOUR PROMPTS WITHOUT INCURRING COSTS.
LOCAL EXECUTION:
RUNNING MODELS LOCALLY ON YOUR OWN HARDWARE CAN BE A COST-EFFECTIVE WAY TO EXPERIMENT WITH AI PROMPTS. WHILE THIS MIGHT REQUIRE SOME TECHNICAL SETUP, IT CAN BE A GOOD OPTION FOR ONGOING USAGE.


free api trials:
many ai service providers offer free trials or limited access to their apis. take advantage of these to test your prompts without incurring costs.
local execution:
running models locally on your own hardware can be a cost-effective way to experiment with ai prompts. while this might require some technical setup, it can be a good option for ongoing usage.


Hello  word     ;;
free of cost API Trials:
Many AI service providers offer free trials or limited access to their APIs. Take advantage of these to test your prompts without incurring costs.
Local Execution:
Running models locally on your own hardware can be a cost-effective way to experiment with AI prompts. While this might require some technical setup, it can be a good option for ongoing usage.

In [ ]:
#replace word to other word
#split on base of ,
b= " hello, world "
print(b.replace("hello" , "hi" ))

print(b.split(" , "))

 hi, world
[' hello, world ']

In [22]:
b="manyai service providers offer free trials or limited "

#first Five character in string
first_five = b[:5]
print("first five character in string :" , first_five)

#print last five character in string
last_five =b[-5:]
print("last five chareacter in string :", last_five)

#replace string
replac = b.replace( "manyai" , "hello ")
print(replac)

#Find and count substring
sub = b.count("s")
print("Count of o :",sub)
#find first occurance
facc = b.find("n")
print( "first occurance of the character n :",facc)
faccw =b.find("offer")
print("first occurance of the word offer :" , faccw)
#reversed string
rstr = b[::-1]
print("reversed string :" , rstr)

first five character in string : manya
last five chareacter in string : ited
hello  service providers offer free trials or limited
Count of o : 3
first occurance of the character n : 2
first occurance of the word offer : 25
reversed string :  detimil ro slairt eerf reffo sredivorp ecivres iaynam

**LIST Create **
**list length **

In [ ]:
list1 = ["apple" , "banana" , "orange" ]
print(list1)
#print list1 length
print(len(list1))
list2= [1,2,3,4,5,6,7,87]
list3=[True , False ,True ,False]
list4=[112,"apple", True, 232]
print(list2)
print(list3)
print(list4)

#Accessing the element
print(list1[0])
print(list2[3])

['apple', 'banana', 'orange']
3
[1, 2, 3, 4, 5, 6, 7, 87]
[True, False, True, False]
[112, 'apple', True, 232]
apple
4
False